.red {background-color: red;}
.green {background-color: green;}
.yellow {background-color: yellow;}
.blue {background-color: blue;}
.brown {background-color: brown;}

.letrab {color: white;}

.height {
    height: 45px;
    margin: 5px;
}

#box {
    margin: 0 auto;
    max-width: 500px;
    height: 100%;
}

#msg {
    font-size: 25px;
    color:white;
}

#jogo div div {
    margin:2px;
    height: 120px;
    width: 100px;
    background-color: yellow;
    font-size: 80px;
    font-family: 'Bangers';
}/*
#jogo div div:hover {
    background-color: yellowgreen;
}
*/
footer {margin-top:15px;}
